@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-delay-3s {
    animation-delay: 3s;
}
.animation-delay-6s {
    animation-delay: 6s;
}
.animation-delay-9s {
    animation-delay: 9s;
}
